{{ block title }}
PART 2: ROUND {{ round }} SPORTS
<style>
    .card2 {
      background-color: #FFBFC8;
    }
</style>
<p></p>
<div class="card2 rounded">
  <div class="card-body">
    <h5>
    In this round: &emsp; &emsp; Test-Taker = see below &emsp; &emsp; Helper = You
    </h5>
  </div>
</div>
{{ endblock }}
{{ block content }}

    <div class="row">
      <div class="col-sm-7">
        <p></p>
        <p><b>
          How well do you think that the following players will do in the SPORTS WITHOUT HINTS?
        </b></p>
        {{ for field in formfields_random }}
          {{ if field == 'sportresults01_partner1'}}
            {{ formfield 'sportresults01_partner1' label=partner1_label}}
          {{ endif }}
          {{ if field == 'sportresults01_partner2'}}
            {{ formfield 'sportresults01_partner2' label=partner2_label}}
          {{ endif }}
          {{ if field == 'sportresults01_partner3'}}
            {{ formfield 'sportresults01_partner3' label=partner3_label}}
          {{ endif }}
          {{ if field == 'sportresults01_partner4'}}
            {{ formfield 'sportresults01_partner4' label=partner4_label}}
          {{ endif }}
        {{ endfor }}
        <p>
            <button class="otree-btn-next btn btn-primary" style="float:right">Next</button>
        </p>
      </div>
      <div class="col-sm-5">
        <style>
            .card3 {
              background-color: #ccffcc;
            }
        </style>
        <div class="card3 rounded">
          <div class="card-body">
            <h5><u>Payment:</u></h5>
            <b><p>If this round is implemented, you are paid Rs. 450 for participating as a helper.</p>
            <p>Your partner answers 12 questions in total. No matter how many they get correct, your payment remains Rs. 450.</p></b>
          </div>
        </div>
        <style>
            .card1 {
              background-color: #BFD7FF;
            }
        </style>
        <div class="card1 rounded">
          <label for="check" class="togButton"><h6><u>Click here to see rules</u></h6></label>
          <input type="checkbox" class="togCheck" id="check"/>
          <div class="togContent">
            <br>
            <h5>Rules for this part</h5>
            <ul>
              <li>In this round, you will make decisions as a helper and be matched with different test-takers.</li>
              <ul>
                <li><b>We will implement your decisions in the following parts should a certain
                  match be realized during the experiment.</b></li>
                <li>Decisions made here will affect the number of hints available
                to the test-taker in later parts.</li>
                <li>For instance, if test-taker X is matched with you in one of his/her parts,
                  the hints s/he receives may be determined by the choices you are about to
                  make in this round.</li>
                <li>You will see the number of hints the test-taker took for each subject as well
                  as the questions for which they took a hint.</li>
              </ul>
            </ul>
            <br>
          </div>
        </div>
      </div>
    </div>
    <style>
        .togCheck { display: none; }

        .togContent {
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        transition: max-height 1s;
        }
        .togCheck:checked + .togContent {
        max-height: 100vh; /* any insanely large number if a lot of contents */
        opacity: 1;
        visibility: visible;
        }
    </style>

{{ endblock }}
