{{ block title }}FINAL SURVEY SECTION A: PART 1{{ endblock }}
{{ block content }}

    <b><p>Congratulations on completing the main experiment!</p>
    <p>In the following pages, we will ask you a series of questions about your
      experience with the study and yourself. Please be as honest as possible.</p></b>


    <b><p>Can you please rank helpers that you worked with today between 1 and {{count}} depending on the ease with which you could ask them for hints (1=easiest to ask; {{count}}=hardest to ask)?</p></b>

    <div class="row">
      <div class="col-sm-8">
        <table class="table">
            <tr>
                <th>Full name of the student who helped you (First name, Surname)</th>
                <th>Ranking (1=easiest to ask; {{count}}=hardest to ask)</th>
                <th><p>Reason for ranking (Give as many as applicable)</p></th>
            </tr>
            <tr>
                {{ if helper1 }}
                  <th>{{ partner1 }}</th>
                  {{ for field in helper1 }}
                  <td>{{ formfield field }}</td>
                  {{ endfor }}
                {{ endif }}
            </tr>
            <tr>
                {{ if helper2 }}
                  <th>{{ partner2 }}</th>
                  {{ for field in helper2 }}
                  <td>{{ formfield field }}</td>
                  {{ endfor }}
                {{ endif }}
            </tr>
            <tr>
                {{ if helper3 }}
                  <th>{{ partner3 }}</th>
                  {{ for field in helper3 }}
                  <td>{{ formfield field }}</td>
                  {{ endfor }}
                {{ endif }}
            </tr>
            <tr>
                {{ if helper4 }}
                  <th>{{ partner4 }}</th>
                  {{ for field in helper4 }}
                  <td>{{ formfield field }}</td>
                  {{ endfor }}
                {{ endif }}
            </tr>
            <tr>
                {{ if helper5 }}
                  <th>{{ partner5 }}</th>
                  {{ for field in helper5 }}
                  <td>{{ formfield field }}</td>
                  {{ endfor }}
                {{ endif }}
            </tr>
            <tr>
                {{ if helper6 }}
                  <th>{{ partner6 }}</th>
                  {{ for field in helper6 }}
                  <td>{{ formfield field }}</td>
                  {{ endfor }}
                {{ endif }}
            </tr>
            <tr>
                {{ if helper7 }}
                  <th>{{ partner7 }}</th>
                  {{ for field in helper7 }}
                  <td>{{ formfield field }}</td>
                  {{ endfor }}
                {{ endif }}
            </tr>
            <tr>
                {{ if helper8 }}
                  <th>{{ partner8 }}</th>
                  {{ for field in helper8 }}
                  <td>{{ formfield field }}</td>
                  {{ endfor }}
                {{ endif }}
            </tr>
        </table>
      </div>
      <div class="col-sm-4">
        <style>
            .card1 {
              background-color: #BFD7FF;
            }
        </style>
        <div class="card1 rounded">
          <p></p>
          <div class="card-body">
            <b><p>Possible Reasons for ranking</p></b>
            <ol>
              <li>I could ask without worry that helper will think I don’t know much</li>
              <li>I couldn’t ask as I felt worried that helper will think I don’t know much</li>
              <li>Was male</li>
              <li>Was female</li>
              <li>A close friend</li>
              <li>Not a close friend</li>
              <li>Has a high GPA</li>
              <li>Has a low GPA</li>
              <li>Was older than me</li>
              <li>Was younger than me</li>
              <li>Is from my zaat</li>
              <li>Is not from my zaat</li>
              <li>Others (please specify)</li>
            </ol>
          </div>
        </div>
      </div>
    </div>


    <p>
        <button class="otree-btn-next btn btn-primary" style="float:right">Next</button>
    </p>

{{ endblock }}
