{{ block title }}Preferences for Helpers - Specify Other{{ endblock }}
{{ block content }}

<style>
    .card1 {
      background-color: #BFD7FF;
    }
</style>
<div class="card1 rounded">
  <div class="card-body">
    <p><b>In this experiment, you will act as both a test-taker and a helper.</b></p>
    <p><b>In some rounds, you will act as a test-taker and a helper will help you.</b></p>
    <p><b>In other rounds, you will act as a test-taker and a computer will help you.</b></p>
    <p></p>
    <u>Your role as the test-taker</u>
    <ul>
      <li>Answer all the questions on the test.</li>
    </ul>
    <u>The role of the helper</u>
    <ul>
      <li>When you ask, your helper will supply you with hints. </li>
      <li>They will only use the hints we provide to them. You will interact through the tablet only.</li>
      <li>Quality of hint is not determined by them</li>
      <li>Not be allowed to talk to you.</li>
      <li>Not be allowed to create their own hints or give you any other information.</li>
      <li><u>However, they <b>may decide how many hints in total to give you.</b></u></li>
      <li><u>Helper will be <b>able to see if you take a hint.</b></u></li>
    </ul>
  </div>
</div>

<style>
    .card2 {
      background-color: #FFF6BF;
    }
</style>
<p></p>
<div class="card2 rounded">
  <div class="card-body">
    <h5>In the last page you selected the following reasons as "Other". Please specify for each of the following players.</h5>
  </div>
</div>
<p></p>

<p></p>
<div class="row">
  <div class="col-sm-5">
    <b>Classmates</b>
      {{ for field in players_other }}
        <p></p>
        <p>{{ field }}</p>
        <br>
      {{ endfor }}
  </div>
  <div class="col-sm-7">
    <b>Other(Please specify)</b>
      {{ if player.f1_2_1 == "9. Other" }}
        {{ formfield 'f1_3_1' }}
      {{ endif }}
      {{ if player.f2_2_1 == "9. Other" }}
        {{ formfield 'f2_3_1' }}
      {{ endif }}
      {{ if player.f3_2_1 == "9. Other" }}
        {{ formfield 'f3_3_1' }}
      {{ endif }}
      {{ if player.f4_2_1 == "9. Other" }}
        {{ formfield 'f4_3_1' }}
      {{ endif }}
      {{ if player.f5_2_1 == "9. Other" }}
        {{ formfield 'f5_3_1' }}
      {{ endif }}
  </div>
</div>

<p>
    <button class="otree-btn-next btn btn-primary" style="float:right">Next</button>
</p>

{{ endblock }}
